<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.dviltres.identity_verification">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <dist:module dist:title="@string/title_identity_verification">
        <dist:delivery>
            <dist:on-demand/>
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:label="WidgetAndroid"
            android:exported="false"
            android:name="com.facephi.selphi.Widget"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".ui.IdentityVerificationActivity" />
    </application>

</manifest>